import logging
import os
from distutils.util import strtobool

class Config(object):

    # Run the server in a demo mode, with fake data and an intro screen
    DEMO_MODE = strtobool(os.environ.get("DEMO_MODE", "false"))
    # When using a SQLite database, use the date as the db name. This effectively resets the database every day
    USE_FRESH_DAILY_SQLITE_DB = strtobool(os.environ.get("USE_FRESH_DAILY_SQLITE_DB", "false"))
    # Frequency to run machine simulations (switching activities, starting jobs etc)
    DATA_SIMULATION_FREQUENCY_SECONDS = int(os.environ.get('DATA_SIMULATION_FREQUENCY_SECONDS', 60))
    # The number of days of data simulation to run in the past on cold startup
    DAYS_BACKFILL = int(os.environ.get("DAYS_BACKFILL", 3))

    # PostgreSQL database
    DATABASE_USER = os.environ.get('DATABASE_USER')
    DATABASE_ADDRESS = os.environ.get('DATABASE_ADDRESS')
    DATABASE_PORT = os.environ.get('DATABASE_PORT')
    DATABASE_PASSWORD = os.environ.get('DATABASE_PASSWORD')
    if DEMO_MODE:
        DATABASE_NAME = "oee_webapp_demo"
    else:
        DATABASE_NAME = os.environ.get('DATABASE_NAME') or "oee_webapp"
    SQLALCHEMY_DATABASE_URI = "postgres://{user}:{password}@{address}:{port}/{database}".format(
        user=DATABASE_USER,
        password=DATABASE_PASSWORD,
        address=DATABASE_ADDRESS,
        port=DATABASE_PORT,
        database=DATABASE_NAME)

    # SQLite database
    if USE_FRESH_DAILY_SQLITE_DB:
        db_name = datetime.now().strftime("%Y-%M-%d")
    else:
        db_name = "prod"
    if DEMO_MODE:
        db_name += "_demo"
    db_name += ".db"
    package_dir = os.path.abspath(os.path.dirname(__file__))
    db_path = os.path.join(package_dir, db_name)
    SQLALCHEMY_DATABASE_URI = f"sqlite:///{db_path}"

    SQLALCHEMY_ECHO = False

    SECRET_KEY = os.environ.get('SECRET_KEY') or "yS7o773kuQ"
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    UPLOAD_FOLDER = os.path.realpath(os.path.join('app', 'static', 'uploads'))

    REDIS_ADDRESS = "redis://localhost:6379"

    if not os.path.exists('logs'):
        os.mkdir('logs')
    FLASK_LOG_FILE = os.path.join('logs', 'oee_app.log')
    STREAM_LOGGING_LEVEL = logging.INFO
    FILE_LOGGING_LEVEL = logging.INFO
    ROTATING_LOG_FILE_MAX_BYTES = 1024000
    ROTATING_LOG_FILE_COUNT = 10
    LOG_FORMATTER = logging.Formatter('%(asctime)s %(levelname)s: %(message)s')

    WORKFLOW_TYPES = ["default", "pausable"]

    # This can only be set before first run. The database needs to be dropped if it is changed
    IDEAL_CYCLE_TIME_UNITS = "seconds"  # "minutes" "hours"

    # The database IDs for activity codes
    NO_USER_CODE_ID = 1
    UNEXPLAINED_DOWNTIME_CODE_ID = 2
    UPTIME_CODE_ID = 3  # Preferably 0 to keep it on the bottom of the graph

    MACHINE_STATE_OFF = 0
    MACHINE_STATE_RUNNING = 1
