{% extends "default/base.html" %}

{% block content %}
    <div id="loginBody">
        <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
        <div class="container mt-5">
            <form action="" method="post">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32, class_="form-control") }}<br>

                        {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32, class_="form-control") }}<br>
                        {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    {{ form.submit(class_="btn btn-success") }}
                </div>
            </form>
            {% if demo_mode %}
                <div class="alert alert-danger" role="alert">
                    This server is running in demo mode. Fake data can be created through the CLI command
                    <p class="text-monospace">flask default create-fake-data</p>
                </div>{% endif %}
        </div>
    </div>
{% endblock %}