:root {
    --main-bg-color: #AD1920;
}

div {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


body {
    padding-top: 65px;
}


.centralBody {
    text-align: center;
}

.centralWrapper {
    display: inline-block;
}


.centralForm {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.centralForm input, textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}

.centralForm input[type="checkbox"] {
    padding: 0;
    margin: 0;
    position: relative;

    vertical-align: middle;
}

.formInUseCheckboxContainer {
    display: inline;
}

.centralForm input[type="submit"] {
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
}

.centralForm input[type="submit"]:hover, .form button:active, .form button:focus {
    background: var(--main-bg-color);
    color: #f2f2f2;
}


.centralForm .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.centralForm .message a {
    color: #4CAF50;
    text-decoration: none;
}

.formError {
    color: red;
    font-style: italic;
}

.rightAlignButton {
    float: right;
    display: inline-block;
}

.formGrid {
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 10px;
}

.shiftEntry {
    width: 80%;
    justify-self: center;
}


.statusTable {
	font-size:32px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
.statusTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: var(--main-bg-color);
    color: white;
}
.statusTable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}


/* -------admin home---------*/

.adminListHeader {
    display: inline;
    margin-right: 10px;
    margin-bottom: 20px;
}

.adminList {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 25px 10px 10px;
    float: left;
}

.adminListItem {
    padding: 8px;
    text-align: left;
    align-self: center;
}


.adminNewBtn {
    display: inline;
}

/* ------/admin home -----------*/

/* ---- edit activity code ---------*/

.jscolor {
    text-align: center;
}

/* ---- /edit activity code ---------*/

/* ----- edit machine --------*/



/* ----- /edit machine --------*/

/* -------downtime explanation---------*/

.downtimeSelectOptions {
    width: 30%;
    background: red;
    float: left;
}

.downtimeSelectGraph {
    margin-left: 15%;
}


/* -------base---------*/
#navBar {
    padding: 15px;
    overflow: hidden;
    background-color: var(--main-bg-color);
    text-align: center;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}

#navBarLeft {
    float: left;
}

#navBarTitle {
    float: left;
    display: inline;
    padding: 8px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

#navBarRight {
    float: right;
}

ul.navList {
    list-style-type: none;
    margin: 0;
    padding-right: 20px;
}

ul.navList li {
    float: right;
}

ul.navList a {
    float: right;
    display: inline;
    border-right: 1px solid #bbb;
    padding: 8px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

ul.navList li a:hover {
    background-color: #f3fbf6;
    color: var(--main-bg-color);
}

/* -------/base---------*/


/* -----machine -----*/
.graphSelectDiv {
    float: left;
    min-width: 200px;
    padding: 20px;
}


/* ------loading symbol --*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*noinspection CssUnknownTarget*/
    background: rgba(255, 255, 255, .8) url('/static/styles/ajax-loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, turn
   the scrollbar off */
body.loading .modal {
    overflow: hidden;
    display: block;
}

/* -----/machine -----*/


/* --- viewallmachines --*/

.collapsible {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsibleMachineWindow {
    padding: 0 18px;
    /*display: block;*/
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.close {
    float: right;
}

/* -----/viewallmachines ------*/


/* ----- Job start screen -------*/

/* Mobile Styles */
    .jobStartForm {
        position: relative;
        z-index: 1;
        margin: 0 auto 100px;
        width: 100%;
        text-align: center;
    }

    .jobStartInput {
        width: 100%;
    }



/* for desktop */

@media only screen and (min-width: 1100px) {
}


/* -----/Jobstartscreen ------*/
