{% extends "default/base.html" %}

{% block content %}

    <html>
    <body>
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">

    <h1>Create New Batch</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.csrf_token }}<br>

            {{ form.batch_number.label }}
            {{ form.batch_number }}
            {% for error in form.batch_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>

            {{ form.part_type.label }}
            {{ form.part_type }}
            {% for error in form.part_type.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>

            {{ form.amount.label }}
            {{ form.amount }}
            {% for error in form.amount.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>


        </p>

        <p>{{ form.submit() }}</p>
    </form>
    </body>
    </html>
{% endblock %}