<link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type="submit" value="testFunction" id="testbutton">
<br>

{{ thing }}
</body>
</html>

<script>
    function testFunction() {
        //var testBtn = document.getElementById("testbutton");
        //testBtn.setAttribute("value", "Done");
        //var graph = document.getElementsByClassName("graph")[0];
        //console.log(graph);
        //Plotly.react(graph, {{ df }})

    }


</script>
