[Unit]
Description=oee_celery
After=network.target

[Service]
User=(USERNAME)
WorkingDirectory=/home/user/oee_server
ExecStart=/home/user/oee_server/venv/bin/celery -A celery_worker.celery_app worker
Restart=always

[Install]
WantedBy=multi-user.target