[Unit]
Description=oee_server
After=network.target

[Service]
User=oee
WorkingDirectory=/home/user/oee_server
ExecStart=/home/user/oee_server/venv/bin/gunicorn -b :8000 -m 007 "app:create_app()"
Restart=always

[Install]
WantedBy=multi-user.target