{% extends "default/base.html" %}

{% block content %}
    <div class="centralForm">
        <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
        <p>{{ message|safe }}</p> <br>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="formGrid">
                <div class="formGriditem">
                    {{ form.code.label }}
                </div>
                <div class="formGriditem">
                    {{ form.in_use.label }}
                </div>
                <div class="formGriditem">
                    {{ form.code(size=32) }}
                </div>
                <div class="formGriditem">
                    {{ form.in_use(size=32) }}
                </div>

                {% for error in form.code.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <p>
                {{ form.short_description.label }}<br>
                {{ form.short_description(size=32) }}<br>
                {% for error in form.short_description.errors %}
                    <span class="formError">[{{ error }}]</span>
                {% endfor %}

            <p>
                {{ form.long_description.label }}<br>
                {{ form.long_description(size=32) }}<br>
                {% for error in form.long_description.errors %}
                    <span class="formError">[{{ error }}]</span>
                {% endfor %}

            <p>
                {{ form.graph_colour.label }}<br>
                {{ form.graph_colour(size=32, class_="jscolor") }}<br>
                {% for error in form.long_description.errors %}
                    <span class="formError">[{{ error }}]</span>
                {% endfor %}
            <p>


            <p>{{ form.submit() }}</p>

        </form>


        <script src="{{ url_for('static', filename='javascript/jscolor.js') }}"
                type="text/javascript"></script>


    </div>

{% endblock %}