{% extends "default/base.html" %}

{% block content %}
    <div class="container mt-2">
        <div class="card-group">


            <div id="adminUserColumn" class="card border-0" style="min-width: 12rem;">
                <div class="card-header" style="height: 6rem;">
                    <h2 class="adminListHeader">Users</h2>
                    <a id="create_new_user_btn" href="{{ url_for('admin.new_user') }}" class="">+ New User</a>
                </div>
                <div class="card-body overflow-auto">
                    <ul class="list-group">
                        {% for user in users %}
                            <li class="list-group-item">
                                <a id="edit_user_{{ user.id }}" href="{{ url_for('admin.change_password', user_id=user.id, action="reset_password") }}">
                                    {{ user.username }} (ID: {{ user.id }})
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="adminTabletColumn" class="card border-0" style="min-width: 7rem;">
                <div class="card-header" style="height: 6rem;">
                    <h2 class="adminListHeader">Tablets</h2>
                </div>
                <div class="card-body overflow-auto">
                    <ul class="list-group">
                        {% for input_device in input_devices %}
                            <li class="list-group-item">
                                <a id="editTablet-{{ input_device.uuid }}" href="{{ url_for('admin.edit_input_device', id=input_device.id) }}">
                                    {{ input_device.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>



            <div id="adminMachineColumn" class="card border-0" style="min-width: 12rem;">
                <div class="card-header" style="height: 6rem;">
                    <h2 class="adminListHeader">Machines</h2>
                    <a id="create_new_machine_btn" href="{{ url_for('admin.edit_machine', new=true) }}" class="">+ New Machine</a>
                </div>
                <div class="card-body overflow-auto">
                    <ul class="list-group">
                        {% for m in machines %}
                            <li class="list-group-item">
                                <a id="edit_machine_{{ m.id }}" href="{{ url_for('admin.edit_machine',  machine_id=m.id) }}">
                                    {{ m.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="adminScheduleColumn" class="card border-0" style="min-width: 12rem;">
                <div class="card-header" style="height: 6rem;">
                    <h2 class="adminListHeader">Schedules</h2>
                    <a id="create_new_schedule_btn" href="{{ url_for('admin.machine_schedule', new=true) }}" class="">+ New Schedule</a>
                </div>
                <div class="card-body overflow-auto">
                    <ul class="list-group">
                        {% for s in schedules %}
                            <li class="list-group-item">
                                <a id="edit_schedule_{{ s.id }}" href="{{ url_for('admin.machine_schedule', schedule_id=s.id) }}">
                                    {{ s.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="adminMachineGroupColumn" class="card border-0" style="min-width: 12rem;">
                <div class="card-header" style="height: 6rem;">
                    <h2 class="adminListHeader">Groups</h2>
                    <a id="create_new_group_btn" href="{{ url_for('admin.edit_machine_group', new=true) }}">+ New Group</a>
                </div>
                <div class="card-body overflow-auto">
                    <ul class="list-group">
                        {% for mg in machine_groups %}
                            <li class="list-group-item">
                                <a id="edit_group_{{ mg.id }}" href="{{ url_for('admin.edit_machine_group', machine_group_id=mg.id) }}">
                                    {{ mg.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


            <div id="adminActivityCodeColumn" class="card border-0" style="min-width: 12rem;">
                <div class="card-header" style="height: 6rem;">
                    <h2 class="adminListHeader">Codes</h2>
                    <a id="create_new_activity_code_btn" href="{{ url_for('admin.edit_activity_code', new=true) }}">+ New Code</a>
                </div>
                <div class="card-body overflow-auto">
                    <ul class="list-group">
                        {% for ac in activity_codes %}
                            <li class="list-group-item">
                                <a id="edit_activity_code_{{ ac.id }}" href="{{ url_for('admin.edit_activity_code', ac_id=ac.id) }}">
                                    {{ ac.code }} - {{ ac.short_description }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

