{% extends "default/base.html" %}

{% block content %}
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <div class="centralForm">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <h1>Error in password</h1>
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

            <p>
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(size=32) }}<br>
                {% for error in form.confirm_password.errors %}
                    <h1>Error in confirm_password</h1>
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}