{% extends "default/base.html" %}

{% block content %}
    <div class="container mt-2">
        <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">


        <form action="" method="post">
            {{ form.hidden_tag() }}

            <div class="form-row my-4">
                <div class="form-group col-md-4">
                    {{ form.name.label }}
                    {{ form.name(size=32, autocomplete="off", class_="form-control") }}
                    {% for error in form.name.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                    <small id="nameHelp" class="form-text text-muted">
                        The name of your machine or equipment
                    </small>
                </div>

                <div class="form-group col-md-2 my-4 align-middle">
                    <div class="form-check" style="position: absolute; bottom: 5px">
                        {{ form.active(size=32, class_="") }}
                        {{ form.active.label(class_="mb-3") }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    {{ form.device_ip.label }}
                    {{ form.device_ip(size=32, autocomplete="off", class_="form-control") }}
                    {% for error in form.device_ip.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                    <small id="ipHelp" class="form-text text-muted">
                        The static IP Address of the tablet/device assigned to this equipment
                    </small>
                </div>
            </div>

            <div class="form-row my-4">
                <div class="form-group col-md-6">
                    {{ form.group.label }}
                    {{ form.group(class_="form-control") }}
                    {% for error in form.group.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                    <small id="groupHelp" class="form-text text-muted">
                        The machine group that this machine is assigned to.
                        <a href="{{ url_for('admin.edit_machine_group', new=True) }}">
                            Click here to create a new group
                        </a>
                    </small>
                </div>
                <div class="form-group col-md-6">
                    {{ form.schedule.label }}
                    {{ form.schedule(class_="form-control") }}
                    {% for error in form.schedule.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                    <small id="scheduleHelp" class="form-text text-muted">
                        The planned working schedule for this machine.
                        <a href="{{ url_for('admin.machine_schedule', new=True) }}">
                            Click here to create a new schedule
                        </a>
                    </small>
                </div>
            </div>

            <div class="form-row my-4">

                <div class="form-group col-md-6">
                    {{ form.job_start_input_type.label }}
                    {{ form.job_start_input_type(class_="form-control") }}
                    {% for error in form.job_start_input_type.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                    <small id="autofillHelp" class="form-text text-muted">
                        The information requested from the operator when starting a job. This will always be converted
                        to ideal cycle time (seconds) in the database
                    </small>
                </div>
                <div class="form-group col-md-4">
                    {{ form.autofill_input_amount.label }}
                    {{ form.autofill_input_amount(size=32, class_="form-control") }}
                    {% for error in form.autofill_input_amount.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                    <small id="autofillAmountHelp" class="form-text text-muted">
                        A value to autofill the input on the tablet. This can be edited by the operator
                    </small>
                </div>

                <div class="form-group col-md-2 my-4">
                    <div class="form-check" style="position: absolute; bottom: 5px">
                        {{ form.autofill_input_bool(size=32, onchange="disableAutofillInput()", class_="") }}
                        {{ form.autofill_input_bool.label(class_="mb-5") }}
                    </div>
                </div>

            </div>

            <div class="form-row my-4">
                <div class="form-group col-6">
                    {{ form.workflow_type.label }}
                    {{ form.workflow_type(class_="form-control") }}
                    {% for error in form.workflow_type.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                    <small id="workflowHelp" class="form-text text-muted">
                        The workflow followed by the tablet (e.g. pausable workflows will request a downtime reason
                        after the end of the downtime)
                    </small>
                </div>
                <div class="form-group col-6">
                    Available Downtime Codes
                    <div class="row mx-3 mt-1">
                        {% for code in activity_codes %}
                            <div class="col-auto border rounded-pill justify-content-center">
                                <div class="row">
                                    <div class="col-auto my-1 mx-1">
                                        <label for="{{ code.short_description + "id" }}"> {{ code.short_description }}</label>
                                    </div>
                                    <div class="col-auto form-check my-1">
                                        <input type="checkbox" id="{{ code.short_description + "id" }}"
                                               name="{{ code.short_description }}" value="True"
                                               {% if code.id not in excluded_activity_code_ids %}
                                               checked="checked"
                                                {% endif %}
                                        >
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-row my-4">
                <div class="form-group col-md-6">
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </div>

        </form>


        <script src="{{ url_for('static', filename='node_modules/@eastdesire/jscolor/jscolor.min.js') }}"
                type="text/javascript"></script>
    </div>

    <script>
        /**
         * Disable the autofill input when "enable" is unchecked
         */
        function disableAutofillInput() {
            document.getElementById("autofill_input_amount").disabled = !document.getElementById("autofill_input_bool").checked;
        }
        disableAutofillInput()
    </script>

{% endblock %}