{% extends "default/base.html" %}

{% block content %}
    <div class="container mt-2">
        <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
        <p>{{ message|safe }}</p> <br>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <div class="form-check">
                    {{ form.active(size=32, class_="form-check-input") }}
                    {{ form.active.label(class_="form-check-label") }}
                </div>

                {{ form.code.label }}
                {{ form.code(size=32, class_="form-control") }}
                <small id="autofillAmountHelp" class="form-text text-muted">
                    A short, 1 or 2-letter code for downtime reasons.
                </small>

                {% for error in form.code.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <br>


                {{ form.short_description.label }}<br>
                {{ form.short_description(size=32, class_="form-control") }}
                <small id="autofillAmountHelp" class="form-text text-muted">
                    Required. The name of the downtime reason that will be shown on the tablet and in graphs.
                </small>
                {% for error in form.short_description.errors %}
                    <span class="text-danger">[{{ error }}]</span>
                {% endfor %}
                <br>

                <p>
                    {{ form.long_description.label }}<br>
                    {{ form.long_description(size=32, class_="form-control") }}
                    <small id="autofillAmountHelp" class="form-text text-muted">
                        Optional. A longer description to clarify when this downtime code should be used.
                    </small>
                    <br>
                    {% for error in form.long_description.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}

                <p>
                    {{ form.graph_colour.label }}
                    {{ form.graph_colour(size=32, class_="jscolor form-control") }}<br>
                    {% for error in form.long_description.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                <p>


                {{ form.submit(class_="btn btn-success") }}
            </div>
        </form>


        <script src="{{ url_for('static', filename='node_modules/@eastdesire/jscolor/jscolor.min.js') }}"
                type="text/javascript"></script>


    </div>

    <style>

    </style>
{% endblock %}