{% extends "default/base.html" %}

{% block content %}
    <div class="centralForm">
        <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
        <p>{{ message|safe }}</p> <br>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="formGrid">
                <div class="formGriditem">
                    {{ form.id.label }}
                </div>
                <div class="formGriditem">
                    {{ form.active.label }}
                </div>
                <div class="formGriditem">
                    {{ form.id(size=32) }}
                </div>
                <div class="formGriditem">
                    {{ form.active(size=32) }}
                </div>

                {% for error in form.id.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=32, autocomplete="off") }}<br>
                {% for error in form.name.errors %}
                    <span class="formError">[{{ error }}]</span>
                {% endfor %}

            <p>

            <p>{{ form.submit() }}</p>

        </form>


        <script src="{{ url_for('static', filename='javascript/jscolor.js') }}"
                type="text/javascript"></script>
    </div>

{% endblock %}