{% extends "default/base.html" %}

{% block content %}
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <div class="container mt-2">
    <h2>Create New User</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                {% for error in form.username.errors %}
                    <span class="text-danger">[{{ error }}]</span>
                {% endfor %}
            <p>
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                {% for error in form.password.errors %}
                    <span class="text-danger">[{{ error }}]</span>
                {% endfor %}
                <small id="passwordHelp" class="form-text text-muted">
                    The android app can only accept numerical passwords
                </small>

            <p>
                <label for="confirm_password">Password:</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
                {% for error in form.confirm_password.errors %}
                    <span class="text-danger">[{{ error }}]</span>
                {% endfor %}
            </p>
            {{ form.submit(class_="btn btn-success") }}
        </form>
    </div>
{% endblock %}