{% extends "default/base.html" %}
{% block content %}
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <div class="container mt-2">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.dashboard_update_interval.label }}<br>
                {{ form.dashboard_update_interval(size=32, class_="form-control") }}<br>
                {% for error in form.dashboard_update_interval.errors %}
                    <span class="text-danger">[{{ error }}]</span>
                {% endfor %}


                {{ form.explanation_threshold.label }}<br>
                {{ form.explanation_threshold(size=32, class_="form-control") }}<br>
                {% for error in form.explanation_threshold.errors %}
                    <span class="text-danger">[{{ error }}]</span>
                {% endfor %}

                {{ form.submit(class_="form-control") }}
            </div>
        </form>

    </div>

{% endblock %}