{% extends "default/base.html" %}

{% block content %}
    <div class="container mt-2">
        <h2>Edit Shift</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="form-row">
                <div class="form-group">
                    {{ form.name.label }}
                    {{ form.name(size=32, autocomplete="off", class_="form-control") }}
                    {% for error in form.name.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}

                </div>
            </div>


            <div class="form-row">
                <div class="form-group">
                    {{ form.mon_start.label }}
                    {{ form.mon_start(size=32, class_="form-control") }}
                    {% for error in form.mon_start.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.mon_end.label }}
                    {{ form.mon_end(size=32, class_="form-control") }}
                    {% for error in form.mon_end.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            <div class="form-group">
                {{ form.mon_disable.label }}
                {{ form.mon_disable }}
            </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form.tue_start.label }}
                    {{ form.tue_start(size=32, class_="form-control") }}
                    {% for error in form.tue_start.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.tue_end.label }}
                    {{ form.tue_end(size=32, class_="form-control") }}
                    {% for error in form.tue_end.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.tue_disable.label }}
                    {{ form.tue_disable }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form.wed_start.label }}
                    {{ form.wed_start(size=32, class_="form-control") }}
                    {% for error in form.wed_start.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.wed_end.label }}
                    {{ form.wed_end(size=32, class_="form-control") }}
                    {% for error in form.wed_end.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.wed_disable.label }}
                    {{ form.wed_disable }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form.thu_start.label }}
                    {{ form.thu_start(size=32, class_="form-control") }}
                    {% for error in form.thu_start.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.thu_end.label }}
                    {{ form.thu_end(size=32, class_="form-control") }}
                    {% for error in form.thu_end.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.thu_disable.label }}
                    {{ form.thu_disable }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form.fri_start.label }}
                    {{ form.fri_start(size=32, class_="form-control") }}
                    {% for error in form.fri_start.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.fri_end.label }}
                    {{ form.fri_end(size=32, class_="form-control") }}
                    {% for error in form.fri_end.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.fri_disable.label }}
                    {{ form.fri_disable }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form.sat_start.label }}
                    {{ form.sat_start(size=32, class_="form-control") }}
                    {% for error in form.sat_start.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.sat_end.label }}
                    {{ form.sat_end(size=32, class_="form-control") }}
                    {% for error in form.sat_end.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.sat_disable.label }}
                    {{ form.sat_disable }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form.sun_start.label }}
                    {{ form.sun_start(size=32, class_="form-control") }}
                    {% for error in form.sun_start.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.sun_end.label }}
                    {{ form.sun_end(size=32, class_="form-control") }}
                    {% for error in form.sun_end.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.sun_disable.label }}
                    {{ form.sun_disable }}
                </div>
            </div>

            <p>{{ form.submit(class_="btn btn-success") }}</p>
        </form>
    </div>


    <script>

        // Receives a checkbox element and disables the corresponding fields. The name of the checkbox should be the
        // database id of the field it is disabling
        function disableFields(element) {
            // Set the all-parts field
            let allPartsField = document.getElementById("0:" + element.name);

            if (element.checked) {
                allPartsField.style = "";
                allPartsField.disabled = false;
            } else {
                allPartsField.disabled = true;
                allPartsField.style = "background-color: gray;";
            }

            // Set the separate fields
            let fields = document.getElementsByClassName(element.name);
            for (let i = 0; i < fields.length; i++) {
                if (element.checked) {
                    fields[i].disabled = true;
                    fields[i].style = "background-color: gray;";
                } else {
                    fields[i].style = "";
                    fields[i].disabled = false;

                }
            }
        }


    </script>
{% endblock %}