{% extends "default/base.html" %}

{% block content %}
    <body id="startJob">
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <div class="graph">
        {{ graph|safe }}
    </div>
    <div class="centralForm">
        <div class="explainActivity">
            <form action="" id="downtimeReasonForm" name=="downtimeReasonForm" method="post">
                {% for activity in activities %}
                    {% if activity.explanation_required %}
                        {#                        One dropdown box for each unexplained activity, requesting a reason from the operator #}
                        <label>
                            {{ activity.time_summary }}
                            <select class="downtimeReasonSelect"
                                    onchange="selectDowntimeReason(this, {{ activity.ud_index }})"
                                    {#                                    name is used by flask to assign the code once posted#}
                                    name="{{ activity.ud_index }}"
                                    {#                                    id is used by javascript to change the plot#}
                                    id="select{{ activity.ud_index }}">
                                {% for ac in activity_codes %}
                                    <option value="{{ ac.id }}">{{ ac.code }} - {{ ac.short_description }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <br>
                    {% endif %}
                {% endfor %}
                <input type="submit" value="Complete Job">
            </form>

        </div>
    </div>

    <script>

        var graph = document.getElementsByClassName("plotly-graph-div")[0];

        /**
         *  Change the annotation and colour of an activity on the graph according to a dropdown selection
         **/

        function selectDowntimeReason(dropdown, downtimeIndex) {

            const layout = graph.layout;
            // Change the annotation text
            layout.annotations[downtimeIndex].text = dropdown.value;

            // Change the colour of the corresponding downtime
            switch (dropdown.selectedIndex) {
                case 0:
                    layout.shapes[downtimeIndex].fillcolor = 'red';
                    break;
                case 1:
                    layout.shapes[downtimeIndex].fillcolor = 'rgb(0, 255, 128)';
                    break;
                default:
                    layout.shapes[downtimeIndex].fillcolor = 'rgb(128, 128, 128)';
                    break;
            }

            Plotly.relayout(graph, layout)
        }

        /**
         *  Change the annotation and colour of an activity on the graph when the page loads
         *  if dropdowns are already selected
         **/
        window.onload = function () {
            // Get all downtime dropdowns
            var dropdowns = document.getElementsByClassName("downtimeReasonSelect");
            for (let i = 0; i < dropdowns.length; i++) {
                // Get the list index of the reason being listed, which is the last character of the ID
                var dropdownId = dropdowns[i].getAttribute("id");
                var downtimeIndex = dropdownId[dropdownId.length - 1];
                // Don't do anything if the dropdown is on the default (unexplained) code
                if (dropdowns[i].value !== "0") {
                    selectDowntimeReason(dropdowns[i], downtimeIndex)
                }
            }
        };

        window.onresize = function () {
            Plotly.relayout(graph, {
                width: 0.95 * window.innerWidth
            });

        };

    </script>
    </body>


{% endblock %}
