{% extends "default/base.html" %}

{% block content %}
    <!--suppress ALL -->
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <div class="graph">
        {{ graph|safe }}
    </div>
    <div class="centralForm">
        <div class="explainActivity">
            <form action="" id="downtimeReasonForm" name=="downtimeReasonForm" method="post">
                {% for activity in activities %}
                    {% if activity.explanation_required %}
                        {# One dropdown box for each unexplained activity, requesting a reason from the operator #}
                        <label>
                            {{ activity.time_summary }}
                            <select class="downtimeReasonSelect"
                                    onchange="selectDowntimeReason(this, {{ activity.ud_index }})"
                                    {# name is used by flask to assign the code once posted#}
                                    name="{{ activity.ud_index }}"
                                    {# id is used by libraries to change the plot#}
                                    id="select{{ activity.ud_index }}">
                                {% for ac in activity_codes %}
                                    <option value="{{ ac.id }}">{{ ac.code }} - {{ ac.short_description }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <br>
                    {% endif %}
                {% endfor %}
                <br>
                <input type="submit" value="Complete Job">
            </form>

        </div>
    </div>
    <!--suppress ES6ModulesDependencies -->
    <script>

        var graph = document.getElementsByClassName("plotly-graph-div")[0];

        //Map the activity code id to graph colour, to display the colour on the graph
        var colours = {};
        // Map the activity code id to code, to display the code on the graph
        var IdToCode = {};
        {% for ac in activity_codes %}
            colours["{{ ac.id }}"] = "{{ ac.graph_colour }}";
            IdToCode["{{ ac.id }}"] = "{{ ac.code }}";
        {% endfor %}

        /**
         *  Change the annotation and colour of an activity on the graph according to a dropdown selection
         **/

        function selectDowntimeReason(dropdown, downtimeIndex) {

            //var colours = getColours();

            const layout = graph.layout;
            // Change the annotation text
            let ac_id = dropdown.value;
            layout.annotations[downtimeIndex].text = IdToCode[ac_id];
            // Change the colour of the corresponding downtime
            console.log(colours[dropdown.selectedIndex]);
            layout.shapes[downtimeIndex].fillcolor = colours[dropdown.selectedIndex];


            // noinspection ES6ModulesDependencies (plotly.js is sent to template by flask)
            Plotly.relayout(graph, layout);
        }

        /**
         *  Change the annotation and colour of an activity on the graph when the page loads
         *  if dropdowns are already selected
         **/
        window.onload = function () {
            // Get all downtime dropdowns
            var dropdowns = document.getElementsByClassName("downtimeReasonSelect");
            for (let i = 0; i < dropdowns.length; i++) {
                // Get the list index of the reason being listed, which is the last character of the ID
                var dropdownId = dropdowns[i].getAttribute("id");
                var downtimeIndex = dropdownId[dropdownId.length - 1];
                // Don't do anything if the dropdown is on the default (unexplained) code
                if (dropdowns[i].value !== "0") {
                    selectDowntimeReason(dropdowns[i], downtimeIndex)
                }
            }
        };

        window.onresize = function () {
            // noinspection ES6ModulesDependencies (plotly.js is sent to template by flask)
            Plotly.relayout(graph, {
                width: 0.95 * window.innerWidth
            });

        };

    </script>

{% endblock %}
