{% extends "default/base.html" %}

{% block content %}
    <body id="startJob">
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <div class="graph">
        {{ graph|safe }}
    </div>
    <div class="centralForm">
        <form action="" method="post">
            <p>
                {{ form.csrf_token }}
                {{ form.error_code }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>

        <div class="explainActivity">
            <form action="" method="post">
                {% for activity in unexplained_activities %}
                    <label>
                    {{ activity.time_summary }}
                        <select>
                            {% for ac in activity_codes %}
                                <option>{{ ac.code }} - {{ ac.short_description }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <br>
                {% endfor %}
            </form>
        </div>
    </div>
    </body>
{% endblock %}