{% extends "default/base.html" %}

{% block content %}
    <body id="startJob">
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <div class="centralForm">
        Job {{ job.job_number }}
        <br>
        Machine {{ job.machine.machine_number }}
        <form action="" method="post">
            <p>Job in progress: {{ job.job_number }} </p>
            <form action="" method="post">
                <p>
                    {{ form.csrf_token }}
                    {{ form.submit() }}
                </p>
            </form>
    </div>
    </body>
{% endblock %}