{% extends "default/base.html" %}

{% block content %}
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <div class="centralForm">
        Job {{ job.job_number }}
        <br>
        Machine: {{ job.machine.name }}
        <form action="" method="post">
            <p>Job in progress: {{ job.job_number }} </p>
            <p>
                {{ form.csrf_token }}
                {{ form.submit() }}
            </p>
        </form>
    </div>

{% endblock %}

