{% extends "default/base.html" %}

{% block content %}
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <div class="centralForm">
        <form action="" method="post">
            <p>
                {{ form.csrf_token }}
                {{ form.job_number.label }}<br>
                {{ form.job_number(size=32, autocomplete="off") }}<br>
                {% for error in form.job_number.errors %}
                    <span class="formError">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.machine_number.label }}<br>
                {{ form.machine_number }}<br>
                {% for error in form.machine_number.errors %}
                    <span class="formError">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}