{% extends "default/base.html" %}

{% block content %}
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <div class="centralForm">
        <form action="" method="post">
            <p>
                {{ form.csrf_token }}
                {{ form.job_number.label }}<br>
                {{ form.job_number(size=32, autocomplete="off") }}<br>
                {% for error in form.job_number.errors %}
                    <span class="formError">[{{ error }}]</span>
                {% endfor %}
            </p>
        {% if assigned_machine == None %}
            <p>
                {{ form.machine.label }}<br>
                {{ form.machine }}<br>
                {% for error in form.machine.errors %}
                    <span class="formError">[{{ error }}]</span>
                {% endfor %}
            </p>
        {% endif %}
        <p>
                {{ form.planned_set_time.label }}<br>
                {{ form.planned_set_time(size=32, autocomplete="off") }}<br>
                {% for error in form.planned_set_time.errors %}
                    <span class="formError">[{{ error }}]</span>
                {% endfor %}
            </p>
        <p>
                {{ form.planned_cycle_time.label }}<br>
                {{ form.planned_cycle_time(size=32, autocomplete="off") }}<br>
                {% for error in form.planned_cycle_time.errors %}
                    <span class="formError">[{{ error }}]</span>
                {% endfor %}
            </p>
        <p>
                {{ form.planned_cycle_quantity.label }}<br>
                {{ form.planned_cycle_quantity(size=32, autocomplete="off") }}<br>
                {% for error in form.planned_cycle_quantity.errors %}
                    <span class="formError">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}