<link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">

<div class="graph" id="graph">
    {{ graph|safe }}
</div>


{#<script>#}
{##}
{#    const updateInterval = setInterval(update, 5000);#}
{#    const graph = document.getElementsByClassName("plotly-graph-div")[0];#}
{##}
{#    function update() {#}
{#        //var data_update = {#}
{#//#}
{#        //};#}
{#//#}
{#        //var layout_update = {#}
{#        //    title: 'new title',#}
{#        //};#}
{##}
{#        const layout = graph.layout;#}
{#        console.log(layout);#}
{#        Plotly.relayout(graph, layout);#}
{##}
{#    }#}
{##}
{##}
{#    window.onresize = function () {#}
{#        // noinspection ES6ModulesDependencies (plotly.js is sent to template by flask)#}
{#        Plotly.relayout(graph, {#}
{#            width: 0.95 * window.innerWidth#}
{#        });#}
{##}
{#    };#}
{##}
{#</script>#}

<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='node_modules/jquery-ui-dist/jquery-ui.min.js') }}"
        type="text/javascript"></script>

<script type=text/javascript>
    $body = $("body");


    const updateInterval = setInterval(getLayout, {{ update_interval_ms }});

    window.onload = getLayout();


    function getLayout() {
        $graph = $(".plotly-graph-div");
        $body.addClass("loading");
        $.ajax({
            url: '{{ url_for('visualisation.dashboard') }}',
            method: "GET",
            data: {
                start: "{{ start }}",
                end:"{{ end }}",
                machine_group: {{ machine_group.id }},
                update: true //This tells the server not to send plotly.js again
            },
            success: function (response) {
                // Replace the graph with the response
                $graph.replaceWith(response);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

</script>