{% extends "default/base.html" %}
{% import "oee_displaying/form_templates.html" as form_templates %}

{% block content %}

    <div class="container mt-2">
        <label for="graphType">Graph type</label>

        <select id="graphType" class="form-control">
            {% for form in forms %}

                <option value="{{ form.__class__.__name__ }}"
                        {% if form.__class__.__name__ == last_form.__class__.__name__ %}
                            {#                 If this option was selected last time, set it as selected now #}
                        selected="selected"
                        {% endif %}
                >
                    {{ form.graph_name }}
                </option>
            {% endfor %}
        </select>

        <div id="graphParametersForm">
            {#            Create all the forms and set to display:none. The dropdown makes them visible #}
            {% for form in forms %}
                <div id="{{ form.__class__.__name__ }}" class="disappearingGraphForm" style="display: none">
                    {{ form_templates.graph_form(form) }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-5">
        <div class="main_graph" id="main_graph">
            {{ graph|safe }}
        </div>
    </div>


    <script>
        {#    Reload the form when the dropdown is selected #}
        document.getElementById("graphType").onchange = reloadForm;

        function reloadForm() {
            try {
                var selectedId = $("#graphType :selected").val();
                var forms = document.getElementsByClassName("disappearingGraphForm");
                if (forms != null) {
                    for (i = 0; i < forms.length; i++) {
                        forms[i].style.display = "none"
                    }
                }
                document.getElementById(selectedId).style.display = "block";
            } catch (err) {
                console.log("Failed to set form")
            }
        }

        // Run when the page first loads
        window.onload = reloadForm;

    </script>


    {# Datatables core libraries #}
    <script src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}" type="text/css" rel="stylesheet">

    {# To make the table size responsive for mobile #}
    <script src="{{ url_for('static', filename='node_modules/datatables.net-responsive/js/dataTables.responsive.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') }}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='node_modules/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') }}" type="text/css" rel="stylesheet">

    {#  Buttons to download the table #}
    <script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.min.js') }}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='node_modules/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css') }}" type="text/css" rel="stylesheet">

    {# Table download format options #}
    <script src="{{ url_for('static', filename='node_modules/pdfmake/build/pdfmake.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/pdfmake/build/vfs_fonts.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/jszip/dist/jszip.min.js') }}"></script>


    <script>
        {#Script to add the datatable library to the table#}
        $(document).ready(function () {
                $('.dataTable').DataTable({
                    dom: 'Bfrtip',
                    responsive: true,
                    buttons: [
                        'copy', 'excel', 'csv', 'pdf'
                    ]
                });
            }
        );
    </script>

{#    Set the page title to match the title of any tables. This will also set the title of any downloaded file #}
    <script>
    $(document).ready(function () {
        if (document.getElementById("table-title")) {
            document.title = document.getElementById("table-title").innerText
        }
    })
    </script>

{% endblock %}