{% macro graph_form(form) %}

    <form method="post" id="{{ form.__class__.__name__ }}">
        <input type="hidden" name="formType" value="{{ form.__class__.__name__ }}">

        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        {#    STANDARD KEY + TIME + DATE FORM  #}

        {% if (form.form_template == "key_date_time") %}
            <div class="form-row">
                {{ form.description }}
            </div>
            <div class="form-row mt-2">
                <div class="form-group pr-2">
                    {{ form.key.label }}
                    {{ form.key(class_="form-control") }}
                </div>

                <div class="form-group pr-2">
                    {{ form.start_time.label }}
                    {{ form.start_time(class_="form-control") }}
                    {% for error in form.start_time.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group pr-2">
                    {{ form.start_date.label }}
                    {{ form.start_date(class_="form-control datepicker") }}
                    {% for error in form.start_date.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group pr-2">
                    {{ form.end_time.label }}
                    {{ form.end_time(class_="form-control") }}
                    {% for error in form.end_time.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group pr-2">
                    {{ form.end_date.label }}
                    {{ form.end_date(class_="form-control datepicker") }}
                    {% for error in form.end_date.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {#    STANDARD KEY + DATE   #}

    {% if (form.form_template == "key_date") %}
            <div class="form-row">
                {{ form.description }}
            </div>
            <div class="form-row mt-2">
                <div class="form-group pr-2">
                    {{ form.key.label }}
                    {{ form.key(class_="form-control") }}
                </div>

                <div class="form-group pr-2">
                    {{ form.start_date.label }}
                    {{ form.start_date(class_="form-control datepicker") }}
                    {% for error in form.start_date.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group pr-2">
                    {{ form.end_date.label }}
                    {{ form.end_date(class_="form-control datepicker") }}
                    {% for error in form.end_date.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {#    DATE ONLY  #}

        {% if (form.form_template == "date") %}

            <div class="form-row">
                {{ form.description }}
            </div>
            <div class="form-row mt-2">
                <div class="form-group pr-2">
                    {{ form.start_date.label }}
                    {{ form.start_date(class_="form-control datepicker") }}
                    {% for error in form.start_date.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group pr-2">
                    {{ form.end_date.label }}
                    {{ form.end_date(class_="form-control datepicker") }}
                    {% for error in form.end_date.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}


        {# KEY ONLY #}

        {% if form.form_template == "key" %}
            <div class="form-row">
                {{ form.description }}
            </div>
            <div class="form-group pr-2 mt-2">
                {{ form.key.label }}
                {{ form.key(class_="form-control") }}
            </div>
        {% endif %}
        <br>
        {{ form.submit(class_="btn btn-success") }}
    </form>



{% endmacro %}