{% macro graph_form(form) %}

    <form method="post" id="{{ form.__class__.__name__ }}">
        <input type="hidden" name="formType" value="{{ form.__class__.__name__ }}">

        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        {#    GANTT FORM  #}

        {% if form.__class__.__name__ == "GanttForm" %}

            {{ form.start_time.label }}
            {{ form.start_time }}
            {% for error in form.start_time.errors %}
                <span class="formError">[{{ error }}]</span>
            {% endfor %}

            {{ form.end_time.label }}
            {{ form.end_time }}
            {% for error in form.end_time.errors %}
                <span class="formError">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ form.start_date.label }}
            {{ form.start_date }}
            {% for error in form.start_date.errors %}
                <span class="formError">[{{ error }}]</span>
            {% endfor %}


            <br>
            {{ form.end_date.label }}
            {{ form.end_date }}
            {% for error in form.end_date.errors %}
                <span class="formError">[{{ error }}]</span>
            {% endfor %}

            {{ form.machines }}

        {% endif %}

        {#    OEE LINE FORM  #}

        {% if form.__class__.__name__ == "OeeLineForm" %}

            {{ form.start_date.label }}
            {{ form.start_date }}
            {% for error in form.start_date.errors %}
                <span class="formError">[{{ error }}]</span>
            {% endfor %}

            <br>
            {{ form.end_date.label }}
            {{ form.end_date }}
            {% for error in form.end_date.errors %}
                <span class="formError">[{{ error }}]</span>
            {% endfor %}
        {% endif %}


        {#    DOWNTIME BAR FORM  #}

        {% if form.__class__.__name__ == "DowntimeBarForm" %}

            {{ form.start_date.label }}
            {{ form.start_date }}
            {% for error in form.start_date.errors %}
                <span class="formError">[{{ error }}]</span>
            {% endfor %}

            <br>
            {{ form.end_date.label }}
            {{ form.end_date }}
            {% for error in form.end_date.errors %}
                <span class="formError">[{{ error }}]</span>
            {% endfor %}

            {{ form.start_time.label }}
            {{ form.start_time }}
            {% for error in form.start_time.errors %}
                <span class="formError">[{{ error }}]</span>
            {% endfor %}

            {{ form.end_time.label }}
            {{ form.end_time }}
            {% for error in form.end_time.errors %}
                <span class="formError">[{{ error }}]</span>
            {% endfor %}
            {{ form.machines }}
        {% endif %}


    {#    JOB TABLE FORM and WO TABLE FORM  #}

        {% if form.__class__.__name__ == "JobTableForm" or  form.__class__.__name__ == "WOTableForm" %}

            {{ form.start_date.label }}
            {{ form.start_date }}
            {% for error in form.start_date.errors %}
                <span class="formError">[{{ error }}]</span>
            {% endfor %}

            <br>
            {{ form.end_date.label }}
            {{ form.end_date }}
            {% for error in form.end_date.errors %}
                <span class="formError">[{{ error }}]</span>
            {% endfor %}

        {% endif %}




        <br>
        {{ form.submit() }}
    </form>

    {#    DASHBOARD GANTT #}

    {#    {% if form.__class__.__name__ == "DashboardGanttForm" %}#}
    {#        <form method="post" id="DashboardGanttForm">#}
    {#            {% for field in form %}#}
    {#                {{ field.label }}#}
    {#                {{ field }}#}
    {#                {% for error in field.errors %}#}
    {#                    <span class="formError">[{{ error }}]</span>#}
    {#                {% endfor %}#}
    {#            {% endfor %}#}
    {#        </form>#}
    {##}
    {#    {% endif %}#}


{% endmacro %}