{% extends "default/base.html" %}
{% import "oee_displaying/form_templates.html" as form_templates %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/datepicker.css') }}">

    <div class="container mt-2">
        <label for="graphType">Graph type</label>

        <select id="graphType" class="form-control">
            {% for form in forms %}

                <option value="{{ form.__class__.__name__ }}"
                        {% if form.__class__.__name__ == last_form.__class__.__name__ %}
                            {#                 If this option was selected last time, set it as selected now #}
                            selected="selected"
                        {% endif %}
                >
                    {{ form.graph_name }}
                </option>
            {% endfor %}
        </select>

        <div id="graphParametersForm">
            {#            Create all the forms and set to display:none. The dropdown makes them visible #}
            {% for form in forms %}
                <div id="{{ form.__class__.__name__ }}" class="disappearingGraphForm" style="display: none">
                    {{ form_templates.graph_form(form) }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid mt-5">
        <div class="main_graph" id="main_graph">
            {{ graph|safe }}
        </div>
    </div>
    </div>


    <script src="{{ url_for('static', filename='libraries/jquery-3.3.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libraries/bootstrap-datepicker-master/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>





    <script type="application/javascript">
        {#    Add the datepicker to all forms with class "form-datepicker" #}
        $(document).ready(function () {
            {# Create values for today and tomorrow to set as default#}
            var today = new Date();
            var yesterday = new Date();
            yesterday.setDate(today.getDate() - 1);
            var tomorrow = new Date();

            tomorrow.setDate(today.getDate() + 1);
            var date_inputs = $(".form-datepicker");
            var options = {
                format: 'dd-mm-yyyy',
                todayHighlight: true,
                autoclose: true,
            };
            date_inputs.datepicker(options);
        });
    </script>



    <script>
        {#    Reload the form when the dropdown is selected #}
        document.getElementById("graphType").onchange = reloadForm;

        function reloadForm() {
            try {
                var selectedId = $("#graphType :selected").val();
                var forms = document.getElementsByClassName("disappearingGraphForm");
                if (forms != null) {
                    for (i = 0; i < forms.length; i++) {
                        forms[i].style.display = "none"
                    }
                }
                document.getElementById(selectedId).style.display = "block";
            } catch (err) {
                console.log("Failed to set form")
            }
        }

        // Run when the page first loads
        window.onload = reloadForm;

    </script>

    {#    To apply datatables library to the table#}
    <link href="{{ url_for('static', filename='libraries/DataTables-1.10.20/css/dataTables.jqueryui.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='libraries/DataTables/datatables.min.css') }}" type="text/css" rel="stylesheet">
    <script src="{{ url_for('static', filename='libraries/DataTables/DataTables-1.10.21/js/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libraries/DataTables/datatables.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libraries/DataTables/Buttons-1.6.2/js/buttons.jqueryui.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libraries/DataTables/Buttons-1.6.2/js/dataTables.buttons.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libraries/DataTables/Buttons-1.6.2/js/buttons.flash.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libraries/DataTables/pdfmake-0.1.36/pdfmake.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libraries/DataTables/pdfmake-0.1.36/vfs_fonts.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libraries/DataTables/Buttons-1.6.2/js/buttons.html5.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libraries/DataTables/Buttons-1.6.2/js/buttons.print.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libraries/DataTables/JSZip-2.5.0/jszip.min.js') }}"></script>

    <script>
        {#Script to add the datatable library to the table#}
        $(document).ready(function () {
                $('.dataTable').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'excel', 'csv', 'pdf'
                    ]
                });
            }
        );


    </script>


    {#    <script type="application/javascript">#}
    {#        /** Disable the dates when requesting a dashboard graph, so the graph is full screen*/#}
    {#        function handleCheck() {#}
    {#            document.getElementById("start_date").disabled = document.getElementById("dashboard").checked;#}
    {#            document.getElementById("end_date").disabled = document.getElementById("dashboard").checked;#}
    {#        }#}
    {##}
    {#        $(document).ready(function () {#}
    {#            handleCheck();#}
    {#            // Add onclick to the dashboard#}
    {#            document.getElementById("dashboard").onclick = handleCheck#}
    {#        });#}
    {#    </script>#}




{% endblock %}