{% extends "default/base.html" %}

{% block content %}
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/jquery-ui.css') }}" type="text/css" rel="stylesheet">

    <div class="centralBody">
        <div class="centralWrapper">
            <div class="graphSelectDiv" id="adminMachineSelect">
                <label>
                    <select class="graphSelect" id="machineSelect">
                        <option value="-1">All Machines</option>
                        {% for m in machines %}
                            <option value="{{ m.id }}">{{ m.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <div class="graphSelectDiv">
                <label for="datePicker">Date: </label>
                <input type="text" id="datePicker" style="position: relative; z-index: 1000;">
                <br>
            </div>
            <div class="graphSelectDiv">
                <input type="submit" value="Submit" id="createGraph">
            </div>
        </div>
        <div class="graph" id="graph">
            {{ graph|safe }}
        </div>
        <div class="modal"></div>
    </div>


    <script src="{{ url_for('static', filename='libraries/jquery-3.3.1.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libraries/jquery-ui-1.12.1/jquery-ui.js') }}"
            type="text/javascript"></script>

    <script>
        $(function () {
            $("#datePicker").datepicker({dateFormat: 'dd-mm-yy'}).datepicker('setDate', new Date());
        });
    </script>


    <script type=text/javascript>
        $body = $("body");

        $('#createGraph').bind('click', function () {
            $body.addClass("loading");
            $.ajax({
                url: '{{ url_for('oee_displaying.update_graph') }}',
                method: "GET",
                data: {
                    date: $('#datePicker').val(),
                    machine_id: $('#machineSelect').val()
                },
                success: function (response) {
                    $('#graph').html(response);
                    $body.removeClass("loading");
                },
                error: function (error) {
                    console.log(error);
                    $('#graph').html("Error getting graph");
                    $body.removeClass("loading");
                }
            });
        });
    </script>


{% endblock %}