{% extends "default/base.html" %}

{% block content %}
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/jquery-ui.css') }}" type="text/css" rel="stylesheet">

    <div class="container">
        <div class="card-group">
            <div id="exportRawList" class="card border-0" style="min-width: 12rem;">
                <div class="card-header" style="height: 6rem;">
                    <h2 class="adminListHeader">Raw Database Tables</h2>
                </div>
                <div class="card-body overflow-auto mr-4" style="max-height: 30rem;">
                    <ul class="list-group">
                        {% for table in tables %}
                            <a href="{{ url_for('export.export_raw', table=table) }}" class="list-group-item list-group-item-action">{{ table }}</a>
                        {% endfor %}
                    </ul>
                </div>
            </div>


            <div id="exportUserList" class="card border-0" style="min-width: 12rem;">
                <div class="card-header" style="height: 6rem;">
                    <h2>Activity Durations</h2>
                </div>
                <form action="{{ url_for('export.export_report') }}" method="get">
                    <input type="hidden" name="chartType" value="activityDuration">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                User/Machine #
                            </th>
                            <th>Uptime</th>
                            <th>Downtime</th>
                            <th>...</th>
                        </tr>
                        </thead>
                        <tbody class="align-center">
                        <tr>
                            <td>1</td>
                            <td>123</td>
                            <td>456</td>
                            <td>...</td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>123</td>
                            <td>456</td>
                            <td>...</td>
                        </tr>

                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="keySelect">Key</label>
                            <select class="form-control" name="keyColumn" id="keySelect">
                                <option value="Users">Users</option>
                                <option value="Machines">Machines</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group mr-4">
                            <label for="startDatePicker">From: </label>
                            <input type="text" id="startDatePicker" name="dateStart" class="form-control">
                            <input type="time" id="startTimePicker" name="timeStart" class="form-control" value="00:00"/>
                        </div>

                        <div class="form-group">
                            <label for="endDatePicker">To: </label>
                            <input type="text" id="endDatePicker" name="dateEnd" class="form-control">
                            <input type="time" id="endTimePicker" name="timeEnd" class="form-control" value="00:00"/>
                        </div>
                    </div>
                    <div>
                        <input type="submit" name="users_download" value="Download" class="btn btn-success">
                        <br>

                    </div>
                </form>
            </div>


        </div>
    </div>


    <script src="{{ url_for('static', filename='libraries/jquery-3.3.1.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libraries/jquery-ui-1.12.1/jquery-ui.js') }}"
            type="text/javascript"></script>

    <script>
        $(function () {
            var today = new Date();
            var yesterday = new Date();
            yesterday.setDate(today.getDate() - 1);
            var tomorrow = new Date();
            tomorrow.setDate(today.getDate() + 1);
            $("#startDatePicker").datepicker({dateFormat: 'dd-mm-yy'}).datepicker('setDate', today);
            $("#endDatePicker").datepicker({dateFormat: 'dd-mm-yy'}).datepicker('setDate', tomorrow);
        });
    </script>

{% endblock %}

