{% extends "default/base.html" %}

{% block content %}
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/jquery-ui.css') }}" type="text/css" rel="stylesheet">

    <div class="centralBody">
        <div class="exportCentralWrapper">
            <div id="exportRawList" class="exportColumn">
                <div class="exportColumnHeader">
                    <h2>Raw Database Tables</h2>
                </div>
                <div></div>
                {#empty cell#}
                {% for table in tables %}
                    <div class="exportListItem">{{ table }}</div>
                    <div class="exportListItem">
                        <form action="{{ url_for('export.export_raw') }}"
                              method="get">
                            <input type="hidden" name="table" value={{ table }}>
                            <input type="submit" class="rightAlignButton" value="Download">
                        </form>
                    </div>
                {% endfor %}
            </div>

            <div id="exportUserList" class="exportColumn">
                <div class="exportColumnHeader">
                    <h2>Activity Durations</h2>
                </div>
                <form action="{{ url_for('export.export_report') }}" method="get">
                    <input type="hidden" name="chartType" value="activityDuration">
                    <table class="exportExampleTable">
                        <thead>
                        <tr>
                            <th>
                                <select name="keyColumn">
                                    <option value="Users">Users</option>
                                    <option value="Machines">Machines</option>
                                </select>
                            </th>
                            <th>Uptime</th>
                            <th>Downtime</th>
                            <th>...</th>
                        </tr>
                        </thead>
                        <tbody class="align-center">
                        <tr>
                            <td>1</td>
                            <td>123</td>
                            <td>456</td>
                            <td>...</td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>123</td>
                            <td>456</td>
                            <td>...</td>
                        </tr>

                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>

                        </tbody>
                    </table>

                    <div class="exportDateTimeSelect">
                        <label for="startDatePicker">From: </label>
                        <input type="text" id="startDatePicker" name="dateStart"
                               style="position: relative; z-index: 1000;">
                        <input type="time" id="startTimePicker" name="timeStart" class="exportTimePicker" value="00:00"/>
                    </div>
                    <div class="exportDateTimeSelect">
                        <label for="endDatePicker">To: </label>
                        <input type="text" id="endDatePicker" name="dateEnd" style="position: relative; z-index: 1000;">
                        <input type="time" id="endTimePicker" name="timeEnd" class="exportTimePicker" value="00:00"/>
                    </div>
                    <div>
                        <input type="submit" name="users_download" value="Download">
                        <br>
                    </div>
                </form>
            </div>


        </div>
    </div>


    <script src="{{ url_for('static', filename='javascript/jquery-3.3.1.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='javascript/jquery-ui-1.12.1/jquery-ui.js') }}"
            type="text/javascript"></script>

    <script>
        $(function () {
            var today = new Date();
            var yesterday = new Date();
            yesterday.setDate(today.getDate() - 1);
            var tomorrow = new Date();
            tomorrow.setDate(today.getDate() + 1);
            $("#startDatePicker").datepicker({dateFormat: 'dd-mm-yy'}).datepicker('setDate', today);
            $("#endDatePicker").datepicker({dateFormat: 'dd-mm-yy'}).datepicker('setDate', tomorrow);
        });
    </script>

{% endblock %}

