{% macro edit_activity_modal(activity, form) %}
    <div class="modal fade" id="editActivityModal{{ activity.id }}" tabindex="-1" role="dialog"
         aria-labelledby="editActivityModal{{ activity.id }}Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="activity{{ activity.id }}Label">
                        Edit Activity
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editActivityModal{{ machine_id }}" action="{{ url_for("api.start_job") }}"
                      method="post" class="form-group">
                    <div class="modal-body">
                        <input type="hidden" name="activity_id" value="{{ activity.id }}">
                        {{ form.hidden_tag() }}
                        <div class="form-row mt-2">
                            <div class="form-group pr-2">
                                {{ form.activity_code.label }}
                                <select class="form-control" id="activity_code" name="activity_code">
                                    {% for option in form.activity_code.choices %}
                                        <option value="{{ option[0] }}"
                                                {% if activity.activity_code.id|int == option[0]|int %}
                                                selected="selected"
                                                {% endif %}
                                        >
                                            {{ option[1] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group pr-2">
                                {{ form.start_time.label }}
                                <input class="form-control" id="start_time" name="start_time" required="" type="time"
                                       value="{{ activity.start_time.strftime("%H:%M") }}">
                                {% for error in form.start_time.errors %}
                                    <span class="text-danger">[{{ error }}]</span>
                                {% endfor %}
                            </div>

                            <div class="form-group pr-2">
                                {{ form.end_time.label }}
                                <input class="form-control" id="end_time" name="end_time" required="" type="time"
                                        {% if activity.end_time %}
                                       value="{{ activity.end_time.strftime("%H:%M") }}"
                                        {% endif %}
                                >
                                {% for error in form.end_time.errors %}
                                    <span class="text-danger">[{{ error }}]</span>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button onclick="setJob({{ machine_id }})" class="btn btn-success">Set
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script>
        function setJob(machineId) {
            let formData = new FormData(document.getElementById("setJobForm" + machineId))
            $.ajax({
                url: '/api/start-job',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    window.location.reload();
                }
            });
        }
    </script>
    <script>
        document.onload = function () {
            document.getElementById('activity_code').value =
            {{ activity.activity_code.id }}
        }

    </script>
{% endmacro %}