{% extends "default/base.html" %}

{% block content %}
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <body onload="setDropdown()">

    <div id="adminUserList" class="adminList">
        <h2>Users</h2>
        <form action="newuser">
            <input type="submit" id="newUserBtn" value="New User" formmethod="GET"/>
        </form>


        {% for user in users %}
            {{ user.username }}
            <form action="{{ url_for('login.change_password') }}"
                  method="get"
                  style="display: inline;">
                <input type="hidden" name="action" value="resetPassword">
                <input type="hidden" name="user_id" value="{{ user.id }}"/>
                <input type="submit" value="Change Password">
            </form>
            <br>
        {% endfor %}

    </div>
    </body>

    <script>
        function setDropdown() {
            // Set the dropdowns to requested dates
            document.getElementById("monthDropdown").value = "{{ requested_month }}";
            document.getElementById("yearDropdown").value = {{ requested_year }};
        }
    </script>

{% endblock %}

