{% extends "default/base.html" %}

{% block content %}
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/jquery-ui.css') }}" type="text/css" rel="stylesheet">
    <body class="centralBody">
    <div class="centralWrapper">
        <div id="adminMachineSelect" class="adminGraphOption">
            <h2>Machine</h2>
            <label>
                <select>
                    {% for m in machines %}
                        <option>{{ m.name }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>

        <div class="adminGraphOption">
            <h2>Date</h2>
            <p>Date: <input type="text" id="datepicker" style="position: relative; z-index: 100000;"></p>
            <br>
        </div>

    </div>
    </body>

    <script src="{{ url_for('static', filename='javascript/jquery-3.3.1.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='javascript/jquery-ui-1.12.1/jquery-ui.js') }}"
            type="text/javascript"></script>

    <script>
        $(function () {
            $("#datepicker").datepicker({dateFormat: 'dd-mm-yy'});
        });
        $(function () {
            $("input").checkboxradio();
        });
    </script>


{% endblock %}

