<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {# JS Needed for Bootstrap #}
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/popper.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"
            type="text/javascript"></script>

    {% block title %}
        {% if demo_mode %}
            <title>OEE Monitor (Demo mode)</title>
        {% else %}
            <title>OEE Monitor</title>
        {% endif %}
    {% endblock %}
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">OEE - DigitME2 </a> {% if demo_mode %}
        <div class="alert alert-danger" style="margin-bottom: 0;padding: 0" role="alert"> DEMO MODE</div> {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if current_user.admin %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.admin_home') }}">Admin</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('visualisation.data') }}">Data</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('visualisation.dashboard',
                    machine_group=1,
                    start="09:00",
                    end="18:00") }}">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.settings') }}">Settings</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('documentation.help_home') }}">Help</a></li>
                {% endif %}
            </ul>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_anonymous %}
                        <li class="nav-item  navbar-dark"><a class="nav-link"
                                                             href="{{ url_for('login.login') }}">Login</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('login.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

<!-- Bootstrap CSS (last to override any other css) -->
<link rel="stylesheet" media="screen"
      href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">

</body>
</html>