<!doctype html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<html lang="en">
<head>
    {% if title %}
        <title>{{ title }} - Prodapp</title>
    {% else %}
        <title>Production</title>
    {% endif %}

</head>

<body>
<div id="navBar">
    <div id="navBarLeft">
        <a id="navBarTitle">{{ nav_bar_title }}</a>
    </div>
    <div id="navBarRight">
        <ul class="navList">
            {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login.login') }}">Login</a></li>
            {% else %}
                <li><a href="{{ url_for('login.logout') }}">Logout</a></li>
            {% endif %}
            {% if current_user.admin %}
                <li><a href="{{ url_for('export.export_home') }}">Export</a></li>
                <li><a href="{{ url_for('admin.admin_home') }}">Admin</a></li>
                <li><a href="{{ url_for('oee_displaying.multiple_machine_graph') }}">Graphs</a></li>
            {% endif %}


        </ul>
    </div>
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="flashedMessage">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}



{% block content %}{% endblock %}
</body>
</html>