{% extends "default/base.html" %}
{% import "default/activity_modal.html" as activity_modal %}

{% block content %}
    {% set ns = namespace(date=None) %}
    <div class="container mt-5">
        <h1>{{ machine.name }} - {{ date }}</h1>
        <div class="row">
            <div class="col">
                <h2>Jobs</h2>
                <ul class="list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4">
                                Job Number
                            </div>
                            <div class="col-6">
                                Ideal Cycle time (seconds)
                            </div>
                        </div>
                    </li>

                    {% for job in jobs %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    {{ job.job_number }}
                                </div>
                                <div class="col-6">
                                    {{ job.ideal_cycle_time_s }}
                                </div>

                                <div class="text-right col">
                                    <button type="button" class="btn btn-dark">
                                        Edit
                                    </button>
                                </div>
                            </div>
                        </li>

                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <h2>Activity</h2>

                <ul class="list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4">
                                Time
                            </div>
                            <div class="col-5">
                                Activity
                            </div>
                        </div>
                    </li>
                    {% for act in activities %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    {{ act.start_time.strftime("%H:%M") }} ->
                                    {% if act.end_time %}
                                        {{ act.end_time.strftime("%H:%M") }}
                                    {% else %}
                                        now
                                    {% endif %}

                                </div>
                                <div class="col-3">
                                    {{ act.activity_code.short_description }}
                                </div>

                                <div class="text-right col">
                                    <button type="button" class="btn btn-dark" data-toggle="modal"
                                            data-target="#editActivityModal{{ act.id }}">
                                        Edit
                                    </button>

                                    {{ activity_modal.edit_activity_modal(act, activity_form) }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script>
        function putActivity(activityId, newActivityCodeId, dropdownIndex) {
            let data = {
                activity_code_id: newActivityCodeId
            }
            $.ajax({
                url: '/api/activity/' + activityId,
                type: 'PUT',
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (result) {
                    window.location.reload();
                }
            });
        }
    </script>

{% endblock %}

