{% extends "default/base.html" %}
{% import "default/job_modals.html" as job_modals %}
{% import "default/production_modals.html" as production_modals %}

{% block content %}
    <div class="container-fluid">
        {% if not machines %}
            <div class="row">
                <div class="col-md-8 offset-md-2 mt-5">
                    <h3>No machines created. Visit the
                        <a href="{{ url_for('admin.admin_home') }}">
                            admin page
                        </a>
                        to get started. </h3>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col col-auto">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="selectDate">Set Date: </label>
                            <input class="form-control flex-shrink-1" id="selectDate" name="select-date"
                                   onchange="changeDate(this)" type="date" value="{{ date }}">

                            <label for="selectGroup">Group: </label>
                            <select class="form-control" id="selectGroup" onchange="changeGroup(this)">

                                <option value="0">All</option>
                                {% for group in groups %}
                                    <option value="{{ group.id }}"
                                            {% if request.args.get('group')|int == group.id %}
                                            selected="selected"
                                            {% endif %}
                                    >
                                        {{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="container">
                    <div class="row my-2 align-middle">
                        <div class="col col-auto">
                            <h1>
                                Summary {{ date.strftime("%a %d %b %Y") }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            {% for machine in machines %}
                {% set current_act_colour =  colours_dict[machine.current_activity.activity_code.id] %}
                <div class="my-3 pl-5 py-2"
                     style="border-style: solid; border-color: {{ current_act_colour }}; border-width: medium">
                    <div class="row mb-2">
                        <div class="col">
                            <div class="row">
                                <h1>{{ machine.name }}</h1>
                                <h2 class="ml-3"> OEE {{ oee_dict[machine.id] }}</h2>
                            </div>
                        </div>
                        <div class="col col-auto mr-2">
                            <a href="{{ url_for("default.machine_report", machine_id=machine.id, date=date) }}">
                                <button class="btn btn-outline-dark">
                                    View Activity
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Status</h4>
                            <div class="dropdown">
                                <button class="btn btn-outline-dark dropdown-toggle" type="button"
                                        id="ActivityCodeDropdown{{ machine.current_activity.id }}"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <a>{{ machine.current_activity.activity_code.short_description }}</a>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% set i = 0 %}
                                    {% for code in activity_codes %}
                                        {#Don't show uptime codes if there's no job#}
                                        {% if code.machine_state not in uptime_states or machine.active_job %}
                                            <button class="dropdown-item"
                                                    onclick="postActivity({{ machine.id }}, {{ code.id }}, {{ current_user.id }})">
                                                {{ code.short_description }}
                                            </button>
                                        {% endif %}
                                        {% set i = i + 1 %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h4>Job</h4>
                            {% if machine.active_job %}
                                <p>{{ machine.active_job.job_number }}</p>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-dark" data-toggle="modal"
                                            data-target="#recordProductionModal{{ machine.active_job.id }}">
                                        Add Qty
                                    </button>
                                    {{ production_modals.record_production_modal(production_form, machine.active_job) }}
                                    <button type="button" class="btn btn-outline-dark" data-toggle="modal"
                                            data-target="#endJobModal{{ machine.active_job.id }}">
                                        End
                                    </button>
                                    {{ job_modals.end_job_modal(machine.active_job, end_job_form) }}
                                </div>
                            {% else %}
                                <!-- Open set job modal -->
                                <button type="button" class="btn btn-outline-dark" data-toggle="modal"
                                        data-target="#setJobModal{{ machine.id }}">
                                    Set Job
                                </button>
                                {{ job_modals.set_job_modal(machine, start_job_form) }}

                            {% endif %}
                        </div>
                        <div class="col">
                            <h4>Current User: </h4>
                            {% if machine.active_user %}
                                {{ machine.active_user.username }}
                                <button class="btn btn-dark"
                                        onclick="forceLogout({{ machine.input_device.id }})">
                                    Force Logout
                                </button>
                            {% else %}
                                <h4>None</h4>
                            {% endif %}
                        </div>

                        <div class="col col-3">
                            <div class="card-text">
                                <h4>Availability {{ availability_dict[machine.id] }}</h4>
                            </div>
                            <div class="card-text">
                                <font color="{{ colours_dict[uptime_code] }}">● </font>Uptime: {{ activity_durations_dict[machine.id][uptime_code] }}<br>
                                ● Scheduled: {{ schedule_dict[machine.id] }}<br>
                                {% for act_code in activity_codes %}
                                    {% if act_code.id != uptime_code and activity_durations_dict[machine.id][act_code.id] != "0 minutes" %}
                                        <font color="{{ colours_dict[act_code.id] }}">● </font>
                                        {{ act_code.short_description }}:
                                        {{ activity_durations_dict[machine.id][act_code.id] }}<br>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                        <div class="col">
                            <h4>Performance {{ performance_dict[machine.id] }}</h4>
                            <div class="card-text">
                                Produced: {{ production_dict[machine.id] }}<br>
                                Target: {{ target_production_dict[machine.id] }}
                            </div>
                        </div>
                        <div class="col">
                            <h4>Quality {{ quality_dict[machine.id] }}</h4>

                            <div class="card-text">
                                Good Qty: {{ good_dict[machine.id] }}
                            </div>

                            <div class="card-text">
                                Reject Qty: {{ rejects_dict[machine.id] }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <script>
        {#    Reload the page for a different date or group when the selected #}

        let url = new URL(document.URL)

        function changeDate(selectDate) {
            url.searchParams.set('date', selectDate.value)
            window.location.replace(url)
        }

        function changeGroup(selectGroup) {
            console.log(selectGroup.value)
            if (selectGroup.value === "0") {
                url.searchParams.delete('group')
            } else{
                url.searchParams.set('group', selectGroup.value)
            }
            window.location.replace(url)
        }
    </script>

    <script>
        function postActivity(machineId, newActivityCodeId, userId) {
            let data = {
                machine_id: machineId,
                user_id: userId,
                activity_code_id: newActivityCodeId,
            }
            $.ajax({
                url: '/api/machine-state-change',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (result) {
                    window.location.reload();
                }
            });
        }

        function forceLogout(inputDeviceId) {
            $.ajax({
                url: '/api/force-logout/' + inputDeviceId,
                type: 'POST',
                contentType: "application/json",
                success: function (result) {
                    window.location.reload()
                }
            });
        }
    </script>

    {# Refresh periodically #}
    {% if refresh %}
        <script>
            setTimeout("refresh()", 60000)

            function refresh() {
                // Don't refresh if a modal is open
                console.log(document.querySelectorAll('.modal.in'))
                if (!document.querySelectorAll('.modal.in').length > 0) {
                    location.reload()
                }
            }
        </script>
    {% endif %}

{% endblock %}

