{% extends "default/base.html" %}
{% import "default/job_modals.html" as job_modals %}

{% block content %}
    <div class="container-fluid">
        {% for machine in machines %}
            <div class="border border-3 my-5 pl-5 py-2
                    {% if machine.current_activity.activity_code_id == uptime_code %}
                 border-success
                    {% else %}
                 border-danger
                    {% endif %}">
                <div class="row">
                    <h2>{{ machine.name }}</h2>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Status</h4>
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button"
                                    id="ActivityCodeDropdown{{ machine.current_activity.id }}"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a>{{ machine.current_activity.activity_code.short_description }}</a>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% set i = 0 %}
                                {% for code in activity_codes %}
                                    <button class="dropdown-item"
                                            onclick="postActivity({{ machine.id }}, {{ code.id }}, {{ current_user.id }})">
                                        {{ code.short_description }}
                                    </button>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <h4>Job</h4>
                        {% if machine.active_job %}
                            {{ machine.active_job.job_number }}
                            <!-- Open end job modal -->
                            <button type="button" class="btn btn-dark" data-toggle="modal"
                                    data-target="#endJobModal{{ machine.active_job.id }}">
                                End
                            </button>
                            {{ job_modals.end_job_modal(machine.active_job, end_job_form) }}
                        {% else %}
                            <!-- Open set job modal -->
                            <button type="button" class="btn btn-dark" data-toggle="modal"
                                    data-target="#setJobModal{{ machine.id }}">
                                Set Job
                            </button>
                            {{ job_modals.set_job_modal(machine.id, start_job_form) }}

                        {% endif %}
                    </div>
                    <div class="col">
                        <h4>Current User: </h4>
                        {% if machine.active_user %}
                            {{ machine.active_user.username }}
                            <button class="btn btn-dark"
                                    onclick="forceLogout({{ machine.input_device.id }})">
                                Force Logout
                            </button>
                        {% else %}
                            <h4>None</h4>
                        {% endif %}
                    </div>

                    <div class="col">
                        <div class="card-text">
                            <h4>Availability {{ availability_dict[machine.id] }}</h4>
                        </div>
                        <div class="card-text">
                            Uptime: {{ activity_durations_dict[machine.id][uptime_code] }}<br>
                            Scheduled: {{ schedule_dict[machine.id] }}<br>
                            {% for act_code in activity_codes %}
                                {% if act_code.id != uptime_code %}
                                    {{ act_code.short_description }}:
                                    {{ activity_durations_dict[machine.id][act_code.id] }}<br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <h4>Performance {{ performance_dict[machine.id] }}</h4>
                        <div class="card-text">
                            Produced Today: {{ production_dict[machine.id] }}<br>
                            Target: {{ target_production_dict[machine.id] }}
                        </div>
                    </div>
                    <div class="col">
                        <h4>Quality {{ quality_dict[machine.id] }}</h4>

                        <div class="card-text">
                            Rejects Today: {{ rejects_dict[machine.id] }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <script>



    function postActivity(machineId, newActivityCodeId, userId) {
            let data = {
                machine_id: machineId,
                user_id: userId,
                activity_code_id: newActivityCodeId,
            }
            $.ajax({
                url: '/api/machine-state-change',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (result) {
                    window.location.reload();
                }
            });
        }

        function forceLogout(inputDeviceId) {
            $.ajax({
                url: '/api/force-logout/' + inputDeviceId,
                type: 'POST',
                contentType: "application/json",
                success: function (result) {
                    window.location.reload();
                }
            });
        }
    </script>

{% endblock %}

