<link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">

<div class="graph" id="graph">
    {{ graph|safe }}
</div>

<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='node_modules/jquery-ui-dist/jquery-ui.min.js') }}"
        type="text/javascript"></script>

<script type=text/javascript>
    $body = $("body");

    const updateInterval = setInterval(updateGraph, {{ update_interval_ms }});

    function updateGraph() {
        $graph = $(".plotly-graph-div").parent()
        $.ajax({
            url: '{{ url_for('visualisation.dashboard') }}',
            method: "GET",
            data: {
                start: "{{ start }}",
                end:"{{ end }}",
                machine_group: {{ machine_group.id }},
                update: true
            },
            success: function (response) {
                $graph.replaceWith(response)
                console.log("Updating graph")
            },
            error: function (error) {
                console.log(error)
            }
        });
    }

</script>