{% extends "base.html" %}

{% block content %}
<link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <h1>Batch {{batch.batch_number}} <br>
        Part type: {{batch.part_type.part_name}}</h1>
{#    {% for part in batch.parts %}#}
{#        {% if part != None %}#}
{#            <b>part {{part.relative_id}} (id={{ part.id }}) <br></b>#}
{##}
{#        {% endif %}#}
{#    {% endfor %}#}
    <br>
    {% for step in batch.part_type.steps|sort(attribute='step_number') %}
        {% if step != None %}
            <a href="{{ url_for('production')}}?batch_id={{batch.id}}&step_id={{step.id}}">
                step {{step.step_number}} <br></a>
        {% endif %}
    {% endfor %}



{% endblock %}