{% extends "base.html" %}

{% block content %}
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <a href="{{ url_for('new_batch') }}">Create new batch<br></a>
    <h2>Batches in progress</h2>
    <ul class="batchList">
        {% for b in batches %}
            {% if b != None %}
                <li class="batchListItem"><a href="{{ url_for('production') + '?batch_id=' }}{{ b.id }}">
                    Batch {{ b.batch_number }} - {{ b.part_type.part_name }} ({{ b.parts|length }} parts)<br>
                </a></li>
            {% endif %}
        {% endfor %}
    </ul>


{% endblock %}