{% extends "base.html" %}

{% block content %}
    <button id="collapseAll" class="collapsible active"
            {% if 1 %}
            style="background-color: whitesmoke"
            {% else %}
            style="background-color: white"
            {% endif %}>Collapse Steps Not Requiring Data
    </button>
    {#    Macro to create a single step. #}
    {% macro showStep(step) %}
        <button
                {% if step.fields|length != 0 %}
                    class="collapsible active hasFields"
                {% else %}
                    class="collapsible active"
                {% endif %}

                {% if step.step_number| int % 2 == 0 %}
                    style="background-color: whitesmoke"
                {% else %}
                    style="background-color: white"
                {% endif %}>Step {{ step.step_number }}</button>

        <div
                {% if step.fields|length != 0 %}
                    class="step collapsibleStep"
                {% else %}
                    class="step collapsibleStep hasFields"
                {% endif %}
                {% if step.step_number| int % 2 == 0 %}
                    style="background-color: whitesmoke"
                {% else %}
                    style="background-color: white"
                {% endif %}
                    id="step{{ step.step_number }}"
        >
            <div class="centre">
                <div class="stepTitle">
                    <h2>{{ step.step_title }}</h2>
                </div>
                <br>
                <div class="stepInstructions">
                    {{ step.step_instructions }}
                </div>
                <br>
                <br>
                <div class="image">
                    {% if step.step_image %}
                        <img src="{{ step.step_image }}"/>
                    {% endif %}
                </div>

                {% if step.fields|length != 0 %}
                    <div class="dataFields">
                        <form action="{{ url_for('production') }}?batch_id={{ current_batch.id }}"
                              method="POST"
                              name="formStepId{{ step.id }}">
                            <input type="hidden" name="stepId" value="{{ step.id }}">
                            <input type="submit" value="Save">
                            <table>
                                <td></td>
                                {% for field in step.fields %}
                                    <td>
                                        {{ field.field_name }}
                                        <label>
                                            <br>
                                            <input id="checkboxId{{ field.id }}"
                                                   type="checkbox"
                                                   name="{{ field.id }}"
                                                   onclick="disableFields(this)"
                                                    {% if(field.batch_wide) %}
                                                   checked="checked"
                                                    {% endif %}
                                                   onload="disableFields(this)">
                                            Same for all</label>
                                    </td>
                                {% endfor %}
                                <tr>
                                    {# The first row is for batch_wide data. {{ field.field_name }}#}
                                    <td>
                                        All parts
                                    </td>
                                    {% for field in step.fields %}
                                        <td>
                                            {# Name the field by the field_name + "All"#}
                                            <input class="dataInputField dataInputFieldAll"
                                                   type="text"
                                                   id="0:{{ field.id }}"
                                                   name="0:{{ field.id }}"
                                                    {% if not field.batch_wide %}
                                                   readonly="readonly"
                                                    {% endif %}
                                            />
                                            <br>
                                        </td>
                                    {% endfor %}
                                </tr>
                                {% for part in current_batch.parts %}

                                    <tr>
                                        {# Further rows for individual part data. #}
                                        <td class="fieldPartId">
                                            Part {{ part.relative_id }}
                                        </td>
                                        {# A column for each field of data#}
                                        {% for field in step.fields %}
                                            <td>
                                                {# Name the field by the id of the field in the database#}
                                                <input width="50%"
                                                       type="text"
                                                       class="{{ field.id }} dataInputField"
                                                       name="{{ part.id }}:{{ field.id }}"
                                                       id="{{ part.id }}:{{ field.id }}"
                                                       value="{{ get_field_data(part.id,field.id) }}"
                                                        {% if field.batch_wide %}
                                                       readonly="readonly"
                                                        {% endif %}/>
                                                <br>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
        <br/>
    {% endmacro %}

    <html>
    <body>
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">

    {% for step in steps %}
        {{ showStep(step) }}
    {% endfor %}


    </body>
    </html>

    <script>

        // Receives a checkbox element and disables the corresponding fields. The name of the checkbox should be the
        // database id of the field it is disabling
        function disableFields(element) {
            // Set the all-parts field
            var allPartsField = document.getElementById("0:" + element.name);
            allPartsField.readOnly = !element.checked;

            // Set the separate fields
            var fields = document.getElementsByClassName(element.name);
            for (var i = 0; i < fields.length; i++) {
                fields[i].readOnly = element.checked;
            }
        }


    </script>

    <script>
        // Controls collapsing steps
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                if (this.id === "collapseAll") {
                    toggleAll(this)
                } else {
                    toggleElement(this.nextElementSibling);
                }
                this.classList.toggle("active");
            });

            function toggleElement(element) {
                if (element.style.display === "none") {
                    element.style.display = "block";
                } else {
                    element.style.display = "none";
                }

            }

            function toggleAll(collapseAllButton) {
                var content = document.getElementsByClassName("collapsibleStep");
                if (collapseAllButton.classList.contains("active")) {
                    var collapsing = true;
                }
                for (i = 0; i < content.length; i++) {
                    if (!content[i].classList.contains("hasFields")) {
                        continue;
                    }
                    if (collapsing) {
                        content[i].style.display = "none"
                    } else {
                        content[i].style.display = "block"
                    }
                    var button = content[i].previousElementSibling;
                    if (collapsing) {
                        if (button.classList.contains("active")) {
                            button.classList.remove("active")
                        }
                    } else {
                        if (!button.classList.contains("active")) {
                            button.classList.add("active")
                        }
                    }
                }
            }
        }

    </script>

    {% if scroll_to %}
        {#        Scrolls the page to a step on load#}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.location.hash = '#{{ scroll_to }}';
            });
        </script>
    {% endif %}



{% endblock %}


