{% extends "base.html" %}

{% block content %}
    <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet">
    <body>
    <form method="get" action="{{url_for('create_part_type')}}">
        <input type="hidden" name="part_type_id" value="{{ part_type.id }}" />
        <input type="submit"  value="< Back to Create Part screen" />
    </form>
    <div class="centre">
        <form id="stepInfoForm" name="stepInfo" action="" method="post" enctype="multipart/form-data">

            <input type="hidden" name="formName" value="stepInfo"/>
            <div class="stepCreationColumn">
                <h2>Step Info</h2>
                <label for="stepTitleInput">Step Title</label><br>
                <input type="text"
                       id="stepTitleInput"
                       name="stepTitle"
                       value="{{ step.step_title }}"><br>
                <label for="stepInstructionsInput">Step Instructions</label><br>
                <textarea
                        id="stepInstructionsInput"
                        name="stepInstructions">{{ step.step_instructions }}</textarea>

            </div>
            <div class="stepCreationColumn">
                <h2>Data to record during step</h2>
                <input type="checkbox" id="allPartsCheckbox" Value="allParts">
                <label for="allPartsCheckbox">Same value for all parts in batch</label>
                <br>
                <input type="text" id="newField" placeholder="New Field Name...">
                <button type="button" onclick="addToList()">Add</button>


                <ul id="fieldList">
                    {% for f in fields %}
                        {% if f != None %}
                            <li class="fieldLi">{{f.field_name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>
            <div id="uploadImageForm" class="stepCreationColumn">
                <h2>Image</h2>
                <input type="hidden" name="formName" value="uploadImage"/>
                <span class="btn btn-default btn-file">
                <input type="file" name="image">
                </span>
                <br>
                <div id="uploadImagePreview" class="stepCreationColumn">
                    {% if step.step_image %}
                        <img id="uploadImage" src="{{ step.step_image }}">
                    {% endif %}
                </div>
            </div>
            <input type="submit" id="stepFormSubmit" value="Save"><br>
        </form>
    </div>


    <br>


    </body>
    <script>
        /**
         * Control the behaviour of the list of data fields
         *
         */

            // Create "close" button and append to each item
            //var fieldList = document.getElementsByTagName("LI");
        var fieldList = document.getElementsByClassName("fieldLi");
        var i;
        for (i = 0; i < fieldList.length; i++) {
            var delBtn = document.createElement("BUTTON");
            var delTxt = document.createTextNode("Delete");
            delBtn.setAttribute("type", "button");
            delBtn.className = "close";
            delBtn.appendChild(delTxt);
            fieldList[i].appendChild(delBtn);
        }

        // Click on a close button to hide the current list item
        var close = document.getElementsByClassName("close");
        var i;
        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                //Hide the element
                var div = this.parentElement;
                var len = (div.innerText.length - delTxt.length);
                var fieldName = div.innerText.substring(0, len); //Remove the "delete" that appears
                // Remove line breaks that were appearing in fieldName for some reason
                fieldName = fieldName.replace(/(\r\n\t|\n|\r\t)/gm,"");
                div.style.display = "none";
                //Send the POST request to delete the database entry
                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "/deletedatafield", true);
                xhttp.setRequestHeader('Content-Type', 'application/json');
                var jsonString = '{ "field_name": "' + fieldName + '" , "step_id": "{{step.id}}"}';
                xhttp.send(jsonString);
            }
        }


        // Create a new list item when clicking on the "Add" button, and save it to the database
        function addToList() {
            var li = document.createElement("li");
            var inputValue = document.getElementById("newField").value;
            var t = document.createTextNode(inputValue);
            li.appendChild(t);
            li.className = "fieldLi";
            if (inputValue === '') {
                alert("Please enter a name for the data to be recorded");
            } else {
                document.getElementById("fieldList").appendChild(li);
            }
            document.getElementById("newField").value = "";

            var delBtn = document.createElement("BUTTON");
            var txt = document.createTextNode("Delete");
            delBtn.setAttribute("type", "button");
            delBtn.className = "close";
            delBtn.appendChild(txt);
            li.appendChild(delBtn);

            for (i = 0; i < close.length; i++) {
                close[i].onclick = function () {
                    var div = this.parentElement;
                    div.style.display = "none";
                }
            }
            var allParts = document.getElementById("allPartsCheckbox").checked;
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/savedatafield", true);
            xhttp.setRequestHeader('Content-Type', 'application/json');
            xhttp.send(
                '{ "field_name": "' + inputValue + '" , ' +
                '"step_id": "{{step.id}}" , ' +
                '"batch_wide":' + allParts + ' }');
        }

    </script>
{% endblock %}